<section class="bg-main-light py-3 ">
  <div class="container">
    <h2>Get the FreshCart App</h2>
    <p>We will send you a link, open it on your phone to download the app.</p>
    <div class="row">
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Email..." />
      </div>
      <div class="col-md-2">
        <button class="btn bg-main text-white">Share App Link</button>
      </div>
    </div>
    <hr class="py-3 "/>

    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <h5>Payment Partners</h5>
        <img src="../../../assets/images/payments.png" class="w-50" />
      </div>

      <div class="col-md-6 d-flex align-items-center ">
        <h3 class="fs-5 px-2  ">Get deliveries with FreshCart</h3>
        <img src="../../../assets/images/app.png" class="w-50" />
      </div>
    </div>
    <hr class="pt-3  ">
  </div>
</section>
